---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic a0Q4YmZETmJQTjhFVkk3bGZaazAySHFOYjplTW1SOEdVN09IM05DZ201QzRkNzEzOUpKUEJSbnBoS0t1S3JwdVJ0NUhKZlk1bnFkTQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 06 Jul 2018 11:50:59 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 780e5719c011ec3bf726ea58e0630e40
      X-Response-Time:
      - '117'
      X-Transaction:
      - 00e43a9800b78232
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAALTY6wAAAAAAb5OwnqDNhdJ9RYLdqr1xywMS7M4%3DY9QPdd7qik7qo7B3DHo4CPVZUMvfdsXPCXHuzuqGYY5etf8biA"}'
  recorded_at: Fri, 06 Jul 2018 11:50:59 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=futuruma&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAALTY6wAAAAAAb5OwnqDNhdJ9RYLdqr1xywMS7M4%3DY9QPdd7qik7qo7B3DHo4CPVZUMvfdsXPCXHuzuqGYY5etf8biA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 06 Jul 2018 11:51:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9874026471c13168c090ea33edce10b1
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '448'
      X-Rate-Limit-Reset:
      - '1530878695'
      X-Response-Time:
      - '197'
      X-Transaction:
      - 00b6121500e11b19
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Tue Jul 03 18:25:57 +0000 2018","id":1014213671827001345,"id_str":"1014213671827001345","text":"After
        listening David X. Cohen mention this book on an old episode of The Infinite
        Monkey Cage, I thought I should\u2026 https:\/\/t.co\/MTMtvkjZ4P","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/MTMtvkjZ4P","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1014213671827001345","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[116,139]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":139367590,"id_str":"139367590","name":"Lauren
        Emil","screen_name":"LaurenEmil","location":"Bath, UK","description":"Design\/repro,
        animation nerd & photographer. Musician, knitter & occasional recreational
        baker.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":567,"friends_count":1379,"listed_count":11,"created_at":"Sun
        May 02 11:28:26 +0000 2010","favourites_count":222,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":855,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/452390264070742017\/bvpnOOE5_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/452390264070742017\/bvpnOOE5_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/139367590\/1404380970","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Jun 30 07:21:15 +0000 2018","id":1012959231195037696,"id_str":"1012959231195037696","text":"I''m
        watching Futuruma and Fry''s like \"I can''t watch a robot cry, let''s watch
        tv\" if this isn''t an earlier version o\u2026 https:\/\/t.co\/8ycGmT1mMW","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/8ycGmT1mMW","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/101295923119503[...]
