---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic a0Q4YmZETmJQTjhFVkk3bGZaazAySHFOYjplTW1SOEdVN09IM05DZ201QzRkNzEzOUpKUEJSbnBoS0t1S3JwdVJ0NUhKZlk1bnFkTQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 07 Jul 2018 07:54:10 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 94f724ccde03dd1746b6444558fd0930
      X-Response-Time:
      - '253'
      X-Transaction:
      - 00a14c61003f617d
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAALTY6wAAAAAAb5OwnqDNhdJ9RYLdqr1xywMS7M4%3DY9QPdd7qik7qo7B3DHo4CPVZUMvfdsXPCXHuzuqGYY5etf8biA"}'
  recorded_at: Sat, 07 Jul 2018 07:54:11 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=gibberishgibberish&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAALTY6wAAAAAAb5OwnqDNhdJ9RYLdqr1xywMS7M4%3DY9QPdd7qik7qo7B3DHo4CPVZUMvfdsXPCXHuzuqGYY5etf8biA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 07 Jul 2018 07:54:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 70961a64ec405f7f970eb6446a2629cb
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '448'
      X-Rate-Limit-Reset:
      - '1530950895'
      X-Response-Time:
      - '259'
      X-Transaction:
      - 0075fd0f005ca083
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.013,"max_id":1015504173838864384,"max_id_str":"1015504173838864384","query":"gibberishgibberish","refresh_url":"?since_id=1015504173838864384&q=gibberishgibberish&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Sat, 07 Jul 2018 07:54:12 GMT
recorded_with: VCR 4.0.0
