---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=futurumafuturuma&result_type=mixed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAALTY6wAAAAAAb5OwnqDNhdJ9RYLdqr1xywMS7M4%3DY9QPdd7qik7qo7B3DHo4CPVZUMvfdsXPCXHuzuqGYY5etf8biA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 06 Jul 2018 11:51:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f5ef98d6635453f0c24aa3bb6790f903
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '447'
      X-Rate-Limit-Reset:
      - '1530878695'
      X-Response-Time:
      - '136'
      X-Transaction:
      - '001268900086378c'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.014,"max_id":1015201582651043840,"max_id_str":"1015201582651043840","query":"futurumafuturuma","refresh_url":"?since_id=1015201582651043840&q=futurumafuturuma&result_type=mixed&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Fri, 06 Jul 2018 11:51:48 GMT
recorded_with: VCR 4.0.0
